<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tennis Ladder</title>
    </head>
    <script nonce="<%- cspNonce %>">
        var appProps = <%- JSON.stringify(appProps) %> ;
    </script>
    <body>
        <div id="app"><%- reactApp %></div>
    </body>
    <% if (!isProduction) { %>
    <script nonce="<%- cspNonce %>" id="__bs_script__">
        //<![CDATA[
        document.write(
            "<script async nonce='<%- cspNonce %>' src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.14'><\/script>".replace(
                "HOST",
                location.hostname
            )
        );
        //]]>
    </script>
    <% } %>
</html>
