.navbar {
    padding: 0.1rem 0.1rem 0rem;
    transition: top 0.3s;
}

.top-selector {
    top: 0;
}
.top-selector-hide {
    top: -50px;
}

.navbar-toggler {
    margin-left: 0.25rem;
}

.wrap-text {
    white-space: pre;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.link-unstyled.active {
    color: "red";
}

.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
}

.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
